<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <% content_for :title, "¡Conocenos!" %>
</head>
<body>

<div class="team">
</div>

<div class="container">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">Quienes somos</h1>
      <p>Somos un grupo de estudiantes bla bla Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, architecto culpa esse natus qui tempora voluptatem! Accusamus aliquam aliquid at labore nam necessitatibus pariatur perspiciatis porro repellat sequi sunt, voluptatibus!</p>
    </div>
  </div>

  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">El Equipo:</h1>
    </div>
  </div>


  <div class="row info">
    <div class="col-sm-2">
      <%= image_tag("team/teo.jpg",{:class => "img-responsive "}) %>
    </div>
    <div class="col-sm-8">
      <h3>Teodoro Hochfärber</h3>
      <h4>Lider de Equipo</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    </div>
  </div>

      <hr>

  <div class="row info">
    <div class="col-sm-2">
        <%= image_tag("team/ariel.jpg",{:class => "img-responsive"}) %>
    </div>
    <div class="col-sm-8">
      <h3>Ariel Sanhueza</h3>
      <h4>Especialista de Sistemas</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    </div>
  </div>

  <hr>

  <div class="row info">
    <div class="col-sm-2">
      <%= image_tag("team/diego.jpg",{:class => "img-responsive"}) %>
    </div>
    <div class="col-sm-8">
      <h3>Diego Perez</h3>
      <h4>Lider Programador</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    </div>
  </div>

  <hr>
  <div class="row info">
    <div class="col-sm-2">
      <%= image_tag("team/axel.jpg",{:class => "img-responsive"}) %>
    </div>
    <div class="col-sm-8">
      <h3>Axel Van Simmonsen</h3>
      <h4>Galleta Oficial</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    </div>
  </div>

  <hr>
  <div class="row info">
    <div class="col-sm-2">
      <%= image_tag("team/tomas.jpg",{:class => "img-responsive"}) %>
    </div>
    <div class="col-sm-8">
      <h3>Tomas Gonzales</h3>
      <h4>Diseño Grafico</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    </div>
  </div>

  <hr>

</div>

</body>
</html>