
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <% content_for :title, " ¡Inscribete para noticias!" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<!-- Content -->
    <div class="container" style="margin-top: -15px">
      <div class="row">
        <div class="col-xs-12">
          <h2 class ="beauty">¿Qué es Seeds?</h2></p>
        </div>
      </div>
      <div class="row vertical-align-bottom">
        <div class='embed-container col-xs-6'>
          <iframe src='//www.youtube.com/embed/uZ9Y54VyBvI?rel=0&amp;controls=0' frameborder='0' allowfullscreen></iframe>
        </div>
      </div>

     
    <div class="row">
      <div class="col-xs-12">
        <h2 class ="beauty">¿Qué es Leaf IT?</h2></p>
        <p class="info">Leaf IT es una pre-empresa chilena dedicada al rubro del desarrollo de software. Nuestros principales objetivos son brindarles a nuestros usuarios software de calidad, los cuales brinden experiencias de usabilidad únicas.
        </p>
      </div>




    </div>


      <div class="row">
        <div class="span12 subscribe">

          <% if flash[:notice] %>
              <h3 class="flash-notice"><%= flash[:notice] %></h3>
          <% else %>
              <h3>¡Suscríbete para obtener noticias y más!</h3>


              <% if flash[:error] %>
                  <p style="color:red;"><%= flash[:error] %></p>
              <% end %>


              <%= form_tag(:new_subscriber, :method=>'post') do %>
                  <%= text_field_tag 'name', nil, placeholder: 'Ingrese su nombre....' %>
                  <%= email_field_tag 'email', nil, placeholder: 'Ingrese su e-mail....' %>
                  <%= button_tag 'Subscribirse'%>
              <% end %>
          <% end %>
          <br/>

        </div>
      </div>




      <div class="row">
        <div class="col-sm-6">
          <h2 class="beauty">¡Visítanos en Facebook y Twitter!</h2>
          <div class="social">
            <a href="https://www.facebook.com/Seeds.LeafIT" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook"></a>
            <a href="https://twitter.com/Seeds_LeafIT" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter"></a>
          </div></div>

        <div class="col-sm-6">
          <h2 class="beauty">¡Comparte este sitio en las redes sociales!</h2>
          <br>
          <%= social_share_button_tag("Seeds Sign up!", :url => 'leafit.cl') %>
        </div>
      </div>




    </div>

    <br>
</body>

</html>
