<!DOCTYPE html>
<html>
<head>
  <title>LeafIT: <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
  <%if notice%>
      <p class="notice"><%= notice %></p>
  <%elsif alert%>
      <p class="alert"><%= alert %></p>
  <%end%>
</div>

<body style="background-color: #D4D5D5;">

    <ul class="nav nav-tabs" role="tablist">
    
     <li ><a href="/"><%= image_tag "Seeds.png",{size: "120x60"} %></a></li>
      <li class="tabpos <%= 'active' if params[:controller] == 'welcome' %>"><a href="/"><p>Inicio</p></a></li>
      <li class="tabpos <%= 'active' if params[:controller] == 'us' %>"><a href="/us"><p>Sobre Nosotros</p></a></li>
      <li class="tabpos <%= 'active' if params[:controller] == 'project' %>"><a href="#">Proyecto Seeds</a></li>
    
    </ul>

<%= yield %>

</body>

<div class = "sponsor">
<ul role ="tablist">
<%= image_tag "pie.png",{size: "120", class: "margen"} %> 
<%= image_tag "aexa.png",{size: "180x100", class: "margen"} %>
<%= image_tag "fesw.png",{size: "350x120", class: "margen"} %>
<%= image_tag "banner.png",{size: "350x120", class: "margen" }%>
</ul>

</div>

</html>
